@import "./vars";
header {
  background-color: #262626;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.logo {
  font-size: 2rem;
  color: white;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  
  &__link {
    color: white;
    transition: 0.7s ease;
    &:hover {
      color: #F05718;
    }
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: white;
}

@media(max-width: $breakpoint768) {
  .hamburger {
    display: block;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .menu.active {
    left: 0;
  }
  
  .menu__item {
    margin: 16px 0;
  }
}