//Container & breakpoints
$containerWidth: 1200;
$containerPadding: 40;
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

//Colors
$primary: black;
$secondary: "";

//Burger menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: black;
$burgerActiveColor: "white";

//Fonts
$fontMain: "Montserrat", sans-serif;
$fontSecondary: "";
