//Container & breakpoints
$containerWidth: 1200 + px;

$breakpoint1450: 1450 + px;
$breakpoint1200: 1200 + px;
$breakpoint992:  992 + px;
$breakpoint768:  768 + px;
$breakpoint576:  576+ px;

//Colors
$primary: black;
// $secondary: ;

//Burger menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: black;
$burgerActiveColor: "white";

//Fonts
$fontMain: "Open Sans", sans-serif;
$fontSecondary: "";
