<nav>
  <div class="container">
    <div class="nav">
      <div class="logo"><a href="#">logo</a></div>
      <ul class="menu">
        <li class="menu__item">
          <a href="#" class="menu__link">Инфо</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Контакты</a>
        </li>
      </ul>
      <div class="nav__btns">
        <a href="#" class="btn nav__btn">login</a>
      </div>
      <div class="burger"><span></span></div>
    </div>
  </div>
</nav>
